<% provide(:title, "Apps") %>
<h1>Apps</h1>
<p>
  The apps that this registered user is permitted to use
</p>
<%= react_component('Post', title: "Word to your mom", body: "yo", published: '2015-5-10', published_by: 'Dan') %>
<%= react_component('Archiver') %>
<%= react_component 'DemoComponent', {} %>
