<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
    Advice on deployment can be found at <a href="http://www.libertyseeds.ca/2015/03/31/Deploying-the-Rails-Tutorial-Sample-App/">libertyseeds.ca</a>.
</p>
